@media screen and (max-width: 2560px) and (min-width: 1600px) {

    .banner-coffee .container {
        max-width: 1500px;
    }

    .banner-tea .container {
        max-width: 1500px;
    }

    .banner-man .container {
        max-width: 1500px;
    }

}

@media screen and (max-width: 1600px) {

    .banner-man {
        background-position-x: -235px;
    }

}

@media screen and (max-width: 1500px) {

    .banner-coffee {
        background-position-x: -83px;
    }

}

@media screen and (max-width: 1365px) {
    .header-set-title {
        font-size: 14px;
    }
}

@media screen and (max-width: 1350px) {

    .banner-tea {
        background-position-x: -254px;
    }

    .more-detail-frame iframe {
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 1231px) {

    .container {
        padding: 0 20px;
    }

}

@media screen and (max-width: 1223px) {
    .header-set-title {
        font-size: 13px;
    }
}

/**/

@media screen and (max-width: 1208px) {

    .banner-coffee {
        background-position-x: -189px;
    }

    .banner-man {
        background-position-x: -412px;
    }

}

@media screen and (max-width: 1200px) {

    .header-menu-nav ul li:first-child {
        margin-left: unset;
    }

    .footer-items {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-item-left {
        margin-right: 0;
    }

}

@media screen and (max-width: 1147px) {

    .coffees-item, .tea-item, .man-item {
        padding: 44px 43px;
    }

}

@media screen and (max-width: 1117px) {

    .coffees-item-big, .tea-item-big, .man-item-big {
        display: none;
    }

    .coffees-item-big-middle, .tea-item-big-middle, .man-item-big-middle {
        display: block;
    }

}

@media screen and (max-width: 1062px) {

    .coffees-top-title, .tea-top-title, .man-top-title {
        margin-bottom: 55px;
    }

    .coffees-items, .tea-items, .man-items {
        flex-direction: column;
        align-items: center;
    }

    .coffees-item-points, .tea-item-points, .man-item-points {
        height: auto;
    }

    .coffees-item, .tea-item, .man-item {
        height: auto;
    }
}

@media screen and (max-width: 1002px) {

    .header-set {
        padding: 0 20px;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 990px) {

    .banner-coffee {
        background-position-x: -439px;
        background-image: url("../images/La-and-Te-beaute_banner_coffee-more-black.png");
    }

}

@media screen and (max-width: 975px) {

    .banner-tea {
        background-position-x: -569px;
        background-image: url("../images/La-and-Te-beaute_banner_tea-more-black.png");
    }

}

@media screen and (max-width: 932px) {
    .header-set-title {
        font-size: 12px;
    }
}

@media screen and (max-width: 867px) {
    .banner-man {
        background-position-x: -521px;
        background-image: url("../images/La-and-Te-beaute_banner_men-more-black.png");
    }
}


@media screen and (max-width: 820px) {

    .main-product {
        display: block;
    }

    .main {
        padding-top: 62px;
    }

    .main-tea, .main-coffee, .main-man {
        padding-top: 159px;
    }

    .banner-coffee, .banner-tea, .banner-man {
        background-size: cover;
    }

    .banner-coffee {
        background-image: url("../images/La-and-Te-beaute_banner_coffee-without-product.png");
    }

    .banner-tea {
        background-image: url("../images/La-and-Te-beaute_banner_tea-without-product.png");
        background-position-x: -1413px;
    }

    .banner-man {
        background-image: url("../images/La-and-Te-beaute_banner_man-without-product.png");
        background-position-x: right;
    }

    .main-items {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .main-info {
        order: 2;
    }

    .main-product {
        max-width: 700px;
        margin: 0 auto;
        order: 1;
    }

    .main-product img {
        width: 100%;
    }

}

@media screen and (max-width: 817px) {
    .main-info-h1 {
        width: unset;
        max-width: 790px;
    }

    .main-info {
        margin-bottom: 65px;
    }
}

/*for 768*/

@media screen and (max-width: 775px) {

    .more-detail {
        padding: 30px 33px 30px 33px;
    }

}

@media screen and (max-width: 769px) {

    .header-set-img img {
        width: 100%;
    }

}

/*for 500*/

@media screen and (max-width: 700px) {
    .main-info-description {
        width: unset;
        max-width: 666px;
    }
}


@media screen and (max-width: 693px) {

    .footer-items {
        row-gap: 35px;
    }

    .footer-description {
        width: unset;
    }

    .footer-item-right-title {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 683px) {

    .main-contact-instagram-top {
        display: none;
    }

    .main-contact-instagram-bottom {
        display: flex;
        justify-content: flex-end;
    }

}

@media screen and (max-width: 680px) {

    .coffees, .tea, .man {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .second-buttons {
        flex-direction: column;
        row-gap: 15px;
        margin-top: 60px;
    }

}

@media screen and (max-width: 655px) {

    .header-set {
        flex-direction: column;
        row-gap: 3px;
        height: 75px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-set-img {
        margin-right: 0;
        width: 31px;
    }

    .header-set-title {
        text-align: center;
    }

    .main-info {
        margin-bottom: 52px;
    }

    .header-set-man .header-set-img {
        height: 21.33px;
    }

    .header-set-man .header-set-img img {
        height: 100%;
    }

    .header-set-man.header-set-man-back .header-set-img {
        height: unset;
    }

    .header-set-man.header-set-man-back .header-set-img img {
        height: unset;
    }

}

@media screen and (max-width: 630px) {

    .more-detail {
        font-size: 14px;
        padding: 15px 24px 25px 30px;
    }

}

@media screen and (max-width: 607px) {

    .banner-coffee {
        background-position-x: -641px;
    }

    .banner-tea {
        background-position-x: -1202px;
    }

    .banner-man {
        background-position-x: -1819px;
    }

    .main {
        padding-top: 200px;
    }

    .main-info {
        margin-bottom: 65px;
    }

    .main-info-h1 {
        font-size: 31px;
        line-height: 37px;
    }

    .main-info-description {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 60px;
    }

    .main-btn {
        width: 100%;
        padding: 15px 20px;
        height: 67px;
    }

    .common-h2, .trust-certificate-item-left-text {
        font-size: 24px;
        line-height: 135%;
    }

    .middle-ball.common-h2 {
        margin: 0 0 50px auto;
    }

    .footer-description {
        font-size: 15px;
    }

}

@media screen and (max-width: 596px) {
    .header-set-title {
        font-size: 11px;
    }
}

@media screen and (max-width: 589px) {

    .header-menu-nav ul {
        justify-content: space-between;
        column-gap: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .header-menu-nav {
        justify-content: center;
    }

    .header-menu-nav ul li:first-child {
        width: 100%;
        text-align: center;
        margin-right: unset;
    }

    .header-menu-nav ul li {
        margin-right: unset;
    }

}

@media screen and (max-width: 568px) {

    .header-set {
        padding: 0 3px;
    }

}

@media screen and (max-width: 535px) {

    .coffees-items, .tea-items, .man-items {
        row-gap: 45px;
    }

    .coffees-item, .tea-item, .man-item {
        padding: 44px 29px;
    }

    .coffees-item-title, .tea-item-title, .man-item-title {
        font-size: 16px;
    }

    .coffees-item-image, .tea-item-image, .man-item-image {
        max-width: 300px;
        margin: 0 auto;
    }

    .coffees-item-point-text, .tea-item-point-text, .man-item-point-text {
        font-size: 14px;
        width: 393px;
    }

    .coffees-item-buttons, .tea-item-buttons, .man-item-buttons {
        flex-direction: column;
        row-gap: 15px;
    }

    .coffees-item-button-buy-btn, .tea-item-button-buy-btn, .man-item-button-buy-btn {
        width: 237px;
    }

    .coffees-item-article, .tea-item-article, .man-item-article {
        text-align: center;
        margin-top: 40px;
    }

}

/*425px*/
@media screen and (max-width: 500px) {

    .banner-coffee {
        background-position-x: -754px;
    }

    .shop-live-item-text, .shop-live-item-text a {
        font-size: 15px;
    }

    .footer {
        padding-bottom: 35px;
    }

    .footer .shop-live-item-text {
        width: 233px;
    }

    .footer-items {
        margin-bottom: 60px;
    }

    .footer-rights {
        padding-top: 35px;
    }
}

@media screen and (max-width: 515px) {

    .coffees-item-point, .tea-item-point, .man-item-point {
        flex-direction: column;
        row-gap: 4px;
    }

    .coffees-item-point-text, .tea-item-point-text, .man-item-point-text {
        width: 330px;
        text-align: center;
    }

    .coffees-item-button-buy-btn, .tea-item-button-buy-btn, .man-item-button-buy-btn, .coffees-item-button-detail-btn, .tea-item-button-detail-btn, .man-item-button-detail-btn {
        height: 40px;
        font-size: 14px;
    }

    .footer-description {
        font-size: 14px;
    }
}

@media screen and (max-width: 472px) {
    .more-detail {
        font-size: 13px;
    }
}

@media screen and (max-width: 457px) {
    .main-info-h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 454px) {
    .header-set-title {
        font-size: 9px;
    }
}

@media screen and (max-width: 453px) {
    .shop-live-item-text, .shop-live-item-text a {
        font-size: 13px;
    }

    .footer .shop-live-item-text {
        width: 204px;
    }

    .footer-description {
        font-size: 13px;
    }
}

@media screen and (max-width: 448px) {
   .banner-coffee {
       background-position-x: -741px;
   }
}

@media screen and (max-width: 443px) {
    .main-info-h1 {
        font-size: 28px;
    }

    .main-info-description {
        font-size: 19px;
    }
}

@media screen and (max-width: 431px) {
    .main-btn {
        font-size: 15px;
        height: 55px;
    }
}

@media screen and (max-width: 429px) {
    .common-h2, .trust-certificate-item-left-text {
        font-size: 20px;
    }

    .footer-item-right-transfer-text, .footer-item-right-transfer-text a {
        font-size: 16px;
    }

    .footer-rights {
        font-size: 13px;
    }
}

@media screen and (max-width: 423px) {
    .coffees-item-point-text, .tea-item-point-text, .man-item-point-text {
        width: 290px;
    }
}

@media screen and (max-width: 417px) {
    .banner-coffee {
        background-position-x: -770px;
    }
}

@media screen and (max-width: 408px) {
    .shop-live-item-text, .shop-live-item-text a {
        text-align: center;
        border-bottom: 0;
    }

    .header-set {
        height: 70px;
    }

    .header-set-title {
        font-size: 9px;
        line-height: 11px;
    }
}


@media screen and (max-width: 393px) {
    .main-info-h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .main-info-description {
        font-size: 18px;
        line-height: normal;
    }
}

@media screen and (max-width: 386px) {
    .coffees-item-point-text, .tea-item-point-text, .man-item-point-text {
        width: 207px;
    }

    .coffees-item, .tea-item, .man-item {
        padding: 44px 22px;
    }

    .switch-to-online-shop-btn, .switch-to-main-page-btn {
        width: 292px;
        font-size: 14px;
        height: 46px;
        line-height: unset;
    }
}

@media screen and (max-width: 383px) {
    .coffees-item-image, .tea-item-image, .man-item-image {
        max-width: 264px;
    }
}

@media screen and (max-width: 375px) {
    .header-set-title {
        font-size: 7px;
    }
}

@media screen and (max-width: 355px) {

    .banner-coffee {
        background-position-x: -811px;
    }

}

@media screen and (max-width: 352px) {

    .banner-tea {
        background-position-x: -628px;
    }

}

@media screen and (max-width: 343px) {

    .main-btn {
        width: 100%;
    }

}

@media screen and (max-width: 342px) {

    .main-info-h1 {
        font-size: 22px;
    }

    .main-info-description {
        font-size: 17px;
        line-height: normal;
    }

    .banner-coffee {
        background-position-x: -781px;
    }

}
