* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "ManropeExtraLight";
    src: url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "ManropeLight";
    src: url("../fonts/Manrope-Light.ttf") format("truetype");
}

@font-face {
    font-family: "ManropeRegular";
    src: url("../fonts/Manrope-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ManropeMedium";
    src: url("../fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "ManropeSemiBold";
    src: url("../fonts/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "ManropeBold";
    src: url("../fonts/Manrope-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "ForumRegular";
    src: url("../fonts/Forum-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "CaveatRegular";
    src: url("../fonts/Caveat-Regular.ttf") format("truetype");
}

body {
    /*background-color: hotpink;*/
    color: #1F1F1F;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-bold {
    font-family: "ManropeBold", sans-serif;
}

h1, h2, h3, h4 {
    font-weight: unset;
}

#lt13, #lt2, #lt14r, #lt22, #lt10, #lt6, #lt7r, #lt3r, #lt11Bag, #lt31, #lt46, #lt5gr, #lt3gr, #lt40, #lt48, #lt1gr, #lt2gr, #lt4gr, #ltms2, #lt25Bag, #ltmen5, #ltmen6, #ltmen7, #ltmen4, #ltmen2, #ltmen1, #ltmen3, #lt14r-middle, #lt3r-middle, #lt3gr-middle, #lt4gr-middle, #ltmen1-middle, #lt13-video {
    display: none;
}

.more-detail-wrapper {
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(34, 34, 34, 0.48);
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-detail-cancel {
    cursor: pointer;
    margin-bottom: 3px;
    text-align: right;
}

.more-detail {
    max-width: 1440px;
    padding: 30px 57px 64px 57px;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 16px;
    line-height: 155%;
    color: #1F1F1F;
}

.error {
    display: none;
    margin-top: 6px;
    color: red;
    font-size: 11px;
    font-family: "ManropeRegular", sans-serif;
}

.main-contact-instagram-bottom {
    display: none;
}