@media screen and (max-width: 2560px) and (min-width: 1600px) {

    .container {
        max-width: 1500px;
    }

}

@media screen and (max-width: 1231px) {

    .container {
        padding: 0 20px;
    }

}

/**/

@media screen and (max-width: 1200px) {

    .header-menu-nav ul li:first-child {
        margin-left: unset;
    }

    .footer-items {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-item-left {
        margin-right: 0;
    }

}

@media screen and (max-width: 1002px) {

    .header-set {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .header-set-title {
        display: none;
    }

    .header-set-title-middle {
        display: block;
    }

}

@media screen and (max-width: 932px) {
    .header-set-title {
        font-size: 12px;
    }
}

@media screen and (max-width: 826px) {
    .partners-welcome-common {
        display: none;
    }

    .partners-welcome, .get-price, .condition {
        font-size: 54px;
    }

    .get-price, .condition {
        font-size: 40px;
        line-height: 65px;
    }

    .condition {
        font-size: 35px;
    }

    .partners-welcome-common-middle {
        display: flex;
        flex-wrap: wrap;
    }

    .partners-welcome-first {
        margin-right: 20px;
    }

    .partners-welcome-image {
        max-width: 225px;
    }

    .partners-welcome-common-middle {
        margin-bottom: 50px;
    }
}

/*for 768*/

@media screen and (max-width: 769px) {

    .header-set-img {
        width: 45px;
    }

    .header-set-img img {
        width: 100%;
    }

}


@media screen and (max-width: 693px) {

    .footer-items {
        row-gap: 35px;
    }

    .footer-description {
        width: unset;
    }

    .footer-item-right-title {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 688px) {
    .main-contact-instagram {
        display: none;
    }

    .main-contact-instagram-middle {
        margin-top: 130px;
        display: flex;
        justify-content: flex-end;
    }

    .partners {
        padding-top: 75px;
    }

}

@media screen and (max-width: 675px) and (min-width: 655px) {
    .header-set-title {
        font-size: 11px;
    }
}

@media screen and (max-width: 655px) {

    .header-set {
        flex-direction: column;
        row-gap: 3px;
        height: 75px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-set-man .header-set-img {
        height: 21.33px;
    }

    .header-set-img {
        margin-right: 0;
        width: 31px;
    }

    .header-set-title-middle {
        text-align: center;
    }

}

@media screen and (max-width: 607px) {

    .footer-description {
        font-size: 15px;
    }

}

@media screen and (max-width: 605px) {

    .manager {
        font-size: 16px;
    }

    .condition-description {
        font-size: 20px;
        margin-bottom: 55px;
    }

    .partners-form-h5 {
        font-size: 25px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 24px;
    }

    .partners-form {
        padding: 50px 30px;
        border-radius: 25px;
    }

    .partners-form-group-input {
        font-size: 17px;
    }

    .partners-form-group-input::placeholder, .partners-form-group textarea {
        font-size: 17px;
    }

    .partners-form-group-input {
        padding-bottom: 2px;
    }

    .partners-form-button-btn {
        height: 50px;
        font-size: 15px;
    }
}

@media screen and (max-width: 596px) {

    .header-set-title {
        font-size: 11px;
    }

    .header-menu-nav {
        justify-content: center;
    }

    .header-menu-nav ul {
        justify-content: space-between;
        column-gap: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .header-menu-nav ul li:first-child {
        width: 100%;
        text-align: center;
        margin-right: unset;
    }

    .header-menu-nav ul li {
        margin-right: unset;
    }

}

@media screen and (max-width: 589px) {

    .header-menu-nav ul li:first-child {
        margin-right: unset;
    }

    .header-menu-nav ul {
        justify-content: space-between;
    }

    .header-menu-nav ul li {
        margin-right: unset;
    }

}

@media screen and (max-width: 568px) {

    .header-set {
        padding: 0 3px;
    }

}

/*425px*/
@media screen and (max-width: 500px) {

    .partners-welcome-image {
        max-width: 185px;
    }

    .shop-live-item-text, .shop-live-item-text a {
        font-size: 15px;
    }

    .footer {
        padding-bottom: 35px;
    }

    .footer .shop-live-item-text {
        width: 233px;
    }

    .footer-items {
        margin-bottom: 60px;
    }

    .footer-rights {
        padding-top: 35px;
    }
}

@media screen and (max-width: 454px) {
    .header-set-title {
        font-size: 9px;
    }
}

@media screen and (max-width: 453px) {
    .shop-live-item-text, .shop-live-item-text a {
        font-size: 13px;
    }

    .footer .shop-live-item-text {
        width: 204px;
    }

    .footer-description {
        font-size: 13px;
    }
}

@media screen and (max-width: 429px) {
    .footer-item-right-transfer-text, .footer-item-right-transfer-text a {
        font-size: 16px;
    }

    .footer-rights {
        font-size: 13px;
    }
}

@media screen and (max-width: 408px) {

    .shop-live-item-text, .shop-live-item-text a {
        text-align: center;
        border-bottom: 0;
    }

    .header-set-title {
        font-size: 9px;
    }
}

@media screen and (max-width: 403px) {

    .header-set {
        height: 53px;
    }

    .header-set-title {
        font-size: 9px;
    }
}

@media screen and (max-width: 396px) {
    .main-contact-instagram a {
        font-size: 14px;
    }

    .partners-welcome {
        font-size: 47px;
        line-height: 1;
    }

    .manager {
        font-size: 14px;
    }

    .get-price, .condition {
        font-size: 30px;
        line-height: 50px;
    }

    .condition {
        font-size: 25px;
    }

    .partners-form-h5 {
        font-size: 24px;
    }
}

@media screen and (max-width: 375px) {
    .header-set-title {
        font-size: 7px;
    }
}
