.banner-tea {
    background-image: url("../images/example.png");
}

.header-sets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.header-sets a {
    text-decoration: none;
    width: 33%;
}

.header-set {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 62px;
    justify-content: center;
    box-shadow: 0 5px 20px rgba(21, 21, 21, 0.2);
}

.header-set-coffee {
    background-color: #A57558;
}

.header-set-coffee:hover {
    background-color: #815e44;
}

.header-set-tea {
    background-color: #077D68;
}

.header-set-tea:hover {
    background-color: #056655;
}

.header-set-man {
    background-color: #16263B;
}

.header-set-man:hover {
    background-color: #121f2f;
}

.header-set-img {
    width: 49px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.header-set-img img {
    width: 100%;
}

.header-set-title {
    font-family: "ManropeExtraLight", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    max-width: 243px;
}

.header-set-title-middle {
    display: none;
}

.header-menu-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header-menu-nav ul li {
    cursor: pointer;
}

.header-menu-nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: "ManropeRegular", sans-serif;
    color: #FFFFFF;
}

.header-menu-nav ul li:first-child {
    margin-right: 60px;
    margin-left: 52px;
    position: relative;
    top: 4px;
}

.header-menu-nav ul li:last-child {
    margin-right: 0;
}

.header-menu-nav ul li {
    margin-right: 35px;
}

.main {
    padding-top: 140px;
    padding-bottom: 88px;
}

.main-info {
    max-width: 600px;
    margin-bottom: 150px;
}

.main-info-h1 {
    max-width: 600px;
    font-family: 'ForumRegular', sans-serif;
    font-size: 45px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.main-info-description {
    max-width: 461px;
    font-family: 'CaveatRegular', sans-serif;
    font-size: 35px;
    line-height: 44px;
    color: #F6F5F1;
    margin-bottom: 70px;
}

.main-btn {
    width: 298px;
    padding: 24px 20px;
    height: 78px;
    border-radius: 35px 3px 35px 35px;
    font-family: 'ManropeBold', sans-serif;
    font-size: 16px;
    color: #F6F5F1;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.main-btn-green {
    background: #077D68;
}

.main-btn-green:hover {
    background: #056655;
}

.main-contact-instagram {
    text-align: right;
}

.main-contact-instagram a {
    font-family: 'ManropeExtraLight', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.about-company {
    background-color: #F9F8F5;
    padding-top: 160px;
    padding-bottom: 68px;
}

.top-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #077D68;
    border-radius: 20px;
    font-family: 'ManropeBold', sans-serif;
    font-size: 9px;
    color: #077D68;
    text-transform: uppercase;
    height: 25px;
}

.top-title-white {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.top-title-black {
    border: 1px solid #1F1F1F;
    color: #1F1F1F;
}

.about-company-top-title {
    width: 105px;
}

.about-company-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-between;
}

.about-company-item {
    display: flex;
    flex-direction: column;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 16px;
    color: #1F1F1F;
}

.about-company-item-left {
    max-width: 596px;
    row-gap: 40px;
}


.about-company-item-right {
    max-width: 367px;
    row-gap: 50px;
}

.about-company-item-left .about-company-item-text:first-child {
    margin-top: 83px;
}

.about-company-item-right .about-company-item-text {
    text-align: center;
}

.about-company-item-image {
    max-width: 367px;
}

.about-company-item-image img {
    width: 100%;
}

.trust {
    background-color: #F9F8F5;
    padding-top: 68px;
    padding-bottom: 80px;
}

.trust-top-title {
    width: 105px;
}

.common-h2 {
    font-family: 'ForumRegular', sans-serif;
    font-size: 30px;
    line-height: 155%;
    color: #1F1F1F;
    margin: 0 0 70px auto;
}

.trust-h2 {
    max-width: 739px;
}

.trust-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.trust-item-a {
    max-width: 215px;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
}

.trust-item-a:hover {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.35));
}

.trust-item-a img {
    width: 100%;
}

.click-and-look {
    margin-left: 75px;
}

.click-and-look-arrow {
    position: relative;
    top: 12px;
}

.click-and-look-text {
    max-width: 356px;
    font-family: 'CaveatRegular', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #C1C0BB;
    margin-left: 23px;
}

.trust-certificate-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
}

.trust-certificate-items-left {
    max-width: 807px;
}

.trust-certificate-item-left-text {
    font-family: 'ForumRegular', sans-serif;
    line-height: 155%;
    color: #1F1F1F;
    font-size: 30px;
    margin-bottom: 43px;
}

.certificate-items {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.certificate-item-text {
    border-bottom: 2px solid #D9D9D9;
}

.certificate-item-text:hover {
    border-bottom: 2px solid #9f9c9a;
}

.certificate-item-text a {
    font-family: 'ManropeRegular', sans-serif;
    font-size: 16px;
    color: #C1C0BB;
    text-decoration: none;
}

.certificate-item-text:hover a {
    color: #9f9c9a;
}

.certificate-item-arrow {
    position: relative;
    top: 10px;
}

.trust-certificate-item-advantages {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.trust-certificate-item-advantage {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.trust-certificate-item-advantage-image {
    width: 45px;
}

.trust-certificate-item-advantage-image img {
    width: 100%;
}

.trust-certificate-item-advantage-text {
    width: 232px;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 16px;
    line-height: 155%;
    color: #1F1F1F;
}

.trust-button {
    margin-top: 50px;
}

.reviews {
    background-color: #F9F8F5;
    padding-top: 85px;
    padding-bottom: 160px;
}

.reviews-top-title {
    width: 165px;
    margin-bottom: 30px;
}

.text-bold-number {
    font-family: "ManropeSemiBold", sans-serif;
}

.reviews-common-title-wrapper {
    max-width: 628px;
    margin: 0 0 65px auto;
}

.reviews-h2 {
    margin-bottom: 13px;
}

.middle-ball {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.reviews .fall-in-love {
    position: relative;
    top: 7px;
}

.multiple-item-img {
    width: 340px;
}

.multiple-item-img img {
    width: 100%;
}


.my-dots {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    text-align: center;
    column-gap: 10px;
    margin-top: 50px;
}

.my-dots li {
}

.my-dots li button {
    width: 19px;
    height: 19px;
    background: #F1E4D5;
    border-radius: 50%;
    border: 0;
    color: transparent;
    cursor: pointer;
}

.my-dots .slick-active button, .my-dots li:hover button {
    background-color: #D4C9BD;
    outline: none;
}

.slick-dotted.slick-slider {
    margin-bottom: 50px;
}

.center-button {
    display: flex;
    justify-content: center;
}

.top-button {
    margin-top: 20px;
}

.bottom-button {
    margin-bottom: 30px;
}

.switch-to-online-shop-btn {
    width: 326px;
    height: 50px;
    background: #077D68;
    border-radius: 35px 3px 35px 35px;
    border: 0;
    font-family: 'ManropeBold', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #F6F5F1;
    padding: 5px 10px;
    cursor: pointer;
}

.switch-to-online-shop-btn:hover {
    background: #056655;
}

.switch-to-online-shop-btn-white {
    color: #077D68;
    background: #ffffff;
}

.switch-to-online-shop-btn-white:hover {
    background: #e8e8e8;
}

.social-sites {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}

.social-site {
    width: 35px;
}

.social-site img {
    width: 100%;
}

.social-site img:hover {
    transform: scale(1.1);
}

.shop {
    background-color: #077D68;
    padding-top: 100px;
    padding-bottom: 95px;
}

.shop-top-title {
    width: 180px;
    margin-bottom: 55px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.shop-item-title {
    font-family: 'ForumRegular', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}

.shop-item-title-left {
    margin-bottom: 27px;
}

.shop-item-description {
    max-width: 300px;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
    margin-bottom: 54px;
}

.shop-live-item {
    width: 43px;
}

.fall-in-love img {
    width: 100%;
}

.map {
    margin-bottom: 40px;
}

.shop-timetable {
    max-width: 227px;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.shop-live-items {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.shop-live-item-text, .shop-live-item-text a {
    font-family: 'ManropeRegular', sans-serif;
    font-size: 16px;
    color: #C1C0BB;
    border-bottom: 2px solid #D9D9D9;
    cursor: pointer;
    text-decoration: none;
}

.shop-live-item-text:hover, .shop-live-item-text:hover a {
    color: #aba8a5;
    border-bottom: 2px solid #aba8a5;
}

.shop-item-title-right {
    margin-bottom: 21px;
}

.shop-online {
    width: 259px;
    font-family: 'CaveatRegular', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #C1C0BB;
}

.shop-item-right .switch-to-online-shop-button {
    display: flex;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 60px;
}

.shop-texts {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.shop-text {
    width: 600px;
    font-family: 'ManropeRegular', sans-serif;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
}
