@media screen and (max-width: 2560px) and (min-width: 1600px) {

    .banner-main .container {
        max-width: 1500px;
    }

}

@media screen and (max-width: 1601px) {
    .image-block {
        position: relative;
        top: 50%;
        left: 0;
        max-width: 750px;
        transform: translate(-12%, -25%);
        animation: moveRight 3s forwards;
    }

    @keyframes moveRight {
        0% { }
        100% {
            transform: translate(0, 0);
            top: unset;
            left: unset;
            max-width: 679px;
        }
    }

    .main-info-h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1365px) {
    .header-set-title {
        font-size: 14px;
    }
}

@media screen and (max-width: 1238px) {

    .text-block {
        animation: unset;
        position: unset;
        left: unset;
        opacity: 1;
    }

    .image-block {
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        width: 576px;
        animation: unset;
    }

}


@media screen and (max-width: 1231px) {

    .container {
        padding: 0 20px;
    }

    .image-block {
        width: 685px;
    }

}

/**/

@media screen and (max-width: 1250px) {

    .slick-prev, .slick-next {
        display: none !important;
    }

}

@media screen and (max-width: 1223px) {
    .header-set-title {
        font-size: 13px;
    }
}

@media screen and (max-width: 1200px) {

    .header-menu-nav ul li:first-child {
        margin-left: unset;
    }

    .footer-items {
        flex-wrap: wrap;
        justify-content: space-between;
    }

   .footer-item-left {
       margin-right: 0;
   }

}

@media screen and (max-width: 1172px) {

    .trust-certificate-items-left {
        max-width: unset;
    }

    .trust-certificate-item-left-text {
        margin-bottom: 3px;
    }

    .trust-certificate-item-advantage:not(:first-child) .trust-certificate-item-advantage-text {
        width: unset;
    }


    .trust-certificate-items {
        row-gap: 40px;
    }

    .trust-certificate-item-advantages {
        flex-direction: row;
        column-gap: 25px;
    }

}

@media screen and (max-width: 1155px) {

    .click-and-look-arrow svg {
        transform: rotate(45deg);
    }

}

@media screen and (max-width: 1146px) {

    .main-info-h1 {
        font-size: 36px;
    }

}

@media screen and (max-width: 1143px) {

    .map iframe {
        width: 100vw;
        max-width: 983px;
    }

    .shop-items {
        row-gap: 60px;
    }

    .shop-text {
        width: unset;
    }

    .shop-item-right .switch-to-online-shop-button {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 1027px) {

    .map iframe {
        width: 100vw;
        max-width: 700px;
    }

}

@media screen and (max-width: 1023px) {

    .about-company-item-left {
        max-width: unset;
    }

    .about-company-items {
        row-gap: 65px;
    }

    .about-company-item-right {
        max-width: unset;
    }

    .about-company-item-image {
        margin: 0 auto;
    }

    .about-company-item-right {
        row-gap: 25px;
    }

    .trust-h2 {
        margin: 70px 0 70px auto;
    }

}

@media screen and (max-width: 1011px) {

    .main-info-h1 {
        font-size: 31px;
    }

}

@media screen and (max-width: 1002px) {

    .header-set {
        padding: 0 20px;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 932px) {
    .header-set-title {
        font-size: 12px;
    }
}

@media screen and (max-width: 882px) {

    .banner-main {
        background-size: cover;
    }

    .main {
        padding-top: 185px;
    }

    .main-info-h1 {
        font-size: 41px;
    }

    .main-items {
        flex-direction: column;
        row-gap: 10px;
    }

    .main-info {
        order: 2;
        margin-bottom: 70px;
    }

    .image-block {
        order: 1;
        width: 553px;
        margin: 0 auto;
    }

}

/*for 768*/

@media screen and (max-width: 769px) {

    .header-set-img {
        width: 45px;
    }

    .header-set-img img {
        width: 100%;
    }

}

/*for 500*/
@media screen and (max-width: 720px) {

    .map iframe {
        max-width: 455px;
    }

}


@media screen and (max-width: 693px) {

    .trust-certificate-item-advantages {
        flex-wrap: wrap;
    }

    .footer-items {
        row-gap: 35px;
    }

    .footer-description {
        width: unset;
    }

    .footer-item-right-title {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 683px) {
    .main-contact-instagram-top {
        display: none;
    }

    .main .main-contact-instagram {
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 675px) and (min-width: 655px) {
    .header-set-title {
        font-size: 11px;
    }
}

@media screen and (max-width: 655px) {

    .header-set {
        flex-direction: column;
        row-gap: 3px;
        height: 75px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-set-img {
        margin-right: 0;
        width: 31px;
    }

    .header-set-title {
        text-align: center;
    }

    .header-set-man .header-set-img {
        height: 21.33px;
    }

    .header-set-man .header-set-img img {
        height: 100%;
    }

}

@media screen and (max-width: 640px) {

    .shop-online {
        text-align: center;
        width: 326px;
    }

}

@media screen and (max-width: 630px) {

    .my-dots {
        width: 280px;
        flex-wrap: wrap;
        margin: 20px auto 0 auto;
        row-gap: 20px;
    }

}

@media screen and (max-width: 607px) {

    .main {
        padding-top: 160px;
    }

    .main-info {
        margin-bottom: 65px;
    }

    .main-info-h1 {
        font-size: 32px;
        line-height: 37px;
    }

    .main-info-description {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 60px;
    }

    .main-btn {
        width: 100%;
        padding: 15px 20px;
        height: 67px;
    }

    .about-company {
        padding-top: 95px;
    }

    .about-company-item-left .about-company-item-text:first-child {
        margin-top: 65px;
    }

    .about-company-item {
        font-size: 15px;
    }

    .common-h2, .trust-certificate-item-left-text {
        font-size: 24px;
        line-height: 135%;
    }

    .middle-ball.common-h2 {
        margin: 0 0 50px auto;
    }

    .reviews {
        padding-bottom: 85px;
    }

    .reviews-common-title-wrapper {
        margin: 0 0 46px auto;
    }

    .shop {
        padding-top: 85px;
    }

    .shop-live-item {
        width: 37px;
    }

    .shop-text {
        font-size: 15px;
    }

    .footer-description {
        font-size: 15px;
    }

}

@media screen and (max-width: 596px) {
    .header-set-title {
        font-size: 11px;
    }
}

@media screen and (max-width: 576px) {
    .image-block {
        max-width: 403px;
        width: unset;
    }
}

@media screen and (max-width: 568px) {

    .header-set {
        padding: 0 3px;
    }

}

@media screen and (max-width: 589px) {

    .header-menu-nav {
        justify-content: center;
    }

    .header-menu-nav ul li:first-child {
        width: 100%;
        text-align: center;
        margin-right: unset;
    }

    .header-menu-nav ul {
        justify-content: space-between;
    }

    .header-menu-nav ul li {
        margin-right: unset;
    }

    .header-menu-nav ul {
        justify-content: space-between;
        column-gap: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
    }

}

/*425px*/
@media screen and (max-width: 500px) {

    .trust-item-a {
        max-width: 187px;
    }

    .click-and-look {
        margin-left: 25px;
    }

    .map iframe {
        max-width: 383px;
    }

    .shop-live-item-text, .shop-live-item-text a {
        font-size: 15px;
    }

    .footer {
        padding-bottom: 35px;
    }

    .footer .shop-live-item-text {
        width: 233px;
    }

    .footer-items {
        margin-bottom: 60px;
    }

    .footer-rights {
        padding-top: 35px;
    }
}

@media screen and (max-width: 485px) {
    .header-menu-nav ul {
        justify-content: space-between;
        column-gap: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .header-menu-nav ul li:first-child {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 454px) {
    .header-set-title {
        font-size: 9px;
    }
}

@media screen and (max-width: 453px) {
    .shop-live-item-text, .shop-live-item-text a {
        font-size: 13px;
    }

    .footer .shop-live-item-text {
        width: 204px;
    }
}

@media screen and (max-width: 443px) {
    .main-info-h1 {
        font-size: 28px;
    }

    .main-info-description {
        font-size: 19px;
    }
}

@media screen and (max-width: 431px) {
    .main-btn {
        font-size: 15px;
        height: 55px;
    }
}

@media screen and (max-width: 429px) {

    .reviews {
        padding-top: 35px;
    }

    .trust-h2 {
        margin: 52px 0 52px auto;
    }

    .common-h2, .trust-certificate-item-left-text {
        font-size: 20px;
    }

    .trust-certificate-item-advantage-text {
        font-size: 14px;
    }

    .certificate-item-text a {
        font-size: 14px;
    }

    .footer-item-right-transfer-text, .footer-item-right-transfer-text a {
        font-size: 16px;
    }

    .footer-rights {
        font-size: 13px;
    }
}

@media screen and (max-width: 424px) {

    .trust-item-a {
        max-width: 175px;
    }

}

@media screen and (max-width: 400px) {

    .trust-item-a {
        max-width: 160px;
    }

}

@media screen and (max-width: 408px) {

    .map iframe {
        max-width: 335px;
    }

    .shop-live-item {
        width: 33px;
    }

    .shop-live-item-text, .shop-live-item-text a {
        text-align: center;
        border-bottom: 0;
    }

    .header-set {
        height: 70px;
    }

    .header-set-title {
        font-size: 9px;
        line-height: 11px;
    }
}

@media screen and (max-width: 403px) {

    .header-set-title {
        font-size: 9px;
    }
}


@media screen and (max-width: 393px) {
    .main-info-h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .main-info-description {
        font-size: 17px;
        line-height: normal;
    }
}

@media screen and (max-width: 375px) {
    .header-set-title {
        font-size: 7px;
    }
}

@media screen and (max-width: 370px) {


    .trust-items {
        justify-content: center;
    }

    .trust-item-a {
        max-width: 215px;
    }

}

@media screen and (max-width: 361px) {

    .shop-online {
        width: 285px;
    }

}

@media screen and (max-width: 355px) {

    .map iframe {
        max-width: 282px;
    }

    .switch-to-online-shop-btn {
        width: 280px;
    }

}

@media screen and (max-width: 349px) {

    .certificate-item-text a {
        font-size: 14px;
    }

}

@media screen and (max-width: 343px) {

    .main-btn {
        width: 100%;
    }

}

@media screen and (max-width: 342px) {

    .main-info-h1 {
        font-size: 22px;
    }

    .main-info-description {
        font-size: 16px;
        line-height: normal;
    }

}
